/vendor
/node_modules
/.git
/storage/framework/cache
/storage/framework/sessions
/storage/framework/testing
/storage/logs
/storage/debugbar
.env
.env.production
.env.prod
.git
.gitignore
docker-compose.yml
PITCH_DECK.md
MARKETPLACE_SUBMISSION.md
*.zip
*.tar.gz
